hypr/hyprlock/*.png
.avalonia-build-tasks
dconf
discord
dunst
fcitx
fcitx5
google-chrome
htop
ibus/bus
kde.org
lazygit
menus/applications-merged
pulse
session
systemd/user
dolphinrc
kconf_updaterc
kdeglobals
kiorc
kritadisplayrc
kritarc
mimeapps.list
pavucontrol.ini
trashrc
tmux/plugins
nvim/lazy-lock.json
